body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
}

/* Contenitore principale */
.container {
    max-width: 900px;
    margin: auto;
    padding: 30px 30px;
    animation: fadeIn 1.2s ease;
}

/* Titolo */
h1 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

/* Testo introduttivo */
.intro {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    opacity: 0.9;
}

/* Contenuto */
.content p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 25px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(6px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

/* Animazione */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.rosso{
    color: rgb(113, 11, 11);
}